<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <runtime>
    <!-- Warning: setting the following switch can introduce a security problem. -->
    <!--
    <AppContextSwitchOverrides value="Switch.System.Data.AllowArbitraryDataSetTypeInstantiation=true" />
    -->
    <!--
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <codeBase version="1.0.5611.23583"
                  href="ClassLibrary1/ApplicationObjects.dll"/>
        <codeBase version="1.0.4073.26998"
                  href="ClassLibrary2/ApplicationObjects.dll"/>
      </dependentAssembly>
    </assemblyBinding>
    -->
  </runtime>
  
</configuration>