<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <codeBase version="1.0.4073.26997"
                  href="ClassLibrary1.dll"/>
        <codeBase version="1.0.4073.26998"
                  href="ApplicationObjects.dll"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  -->
</configuration>